* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Mulish", sans-serif;
  font-size: 62.5%;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  padding-block: 16px;
  padding-inline: 28px;
  background-color: #065e7c;
}

.logo {
  width: 40px;
  height: 40px;
}

input {
  width: 100%;
  max-width: 108.4rem;
  background-color: rgba(255, 255, 255, 20%);

  border: none;
  border-radius: 4px;
  outline: none;
  padding: 12px 14px;

  color: #fff;
}

input::placeholder {
  color: #fff;
}

.profile-image {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 999px;
  object-fit: cover;
}

.featured-article {
  width: 100%;
  box-sizing: content-box;
}

.banner {
  width: 100%;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 2.4rem;
}

h1 {
  font-size: 2.4rem;
}

.title-container h1 {
  font-weight: bold;
  color: #202024;
  margin-bottom: 8px;
}

.like-dislike-icons {
  display: flex;
  gap: 12px;
}

.wrapper-icon-like-dislik img {
  width: 4rem;
  height: 4rem;
}

.article-content {
  font-size: 1.6rem;
  padding-inline: 2.4rem;
}

.related-articles {
  display: flex;
  flex-direction: column;
  padding: 3.4rem 2.4rem 4rem;
  box-sizing: content-box;
}

.related-articles h1 {
  padding-bottom: 3.2rem;
}

.article-cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.card {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  cursor: pointer;
}

.card img {
  width: 15.1rem;
  height: 84px;
  transition: all 200ms ease-out;  
}

.card img:hover {
  transform: scale(1.1);

}

.card h3 {
  font-size: 1.8rem;
  font-weight: bold;
}

.card p {
  font-size: 1.4rem;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6.4rem;
  background-color: #387e96;
  color: #fff;
  font-size: 1.8rem;
}

/* DESKTOP */

@media (width > 1280px) {
  main {
    display: grid;
    grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
    padding: 3.4rem 10rem 4rem;
    max-width: calc(1210px + 10rem * 2);
    margin: 0;
    margin: auto;
    gap: 0 3.4rem;
  }

  .related-articles {
    padding: 0;
    max-width: 38.4rem;
  }

  .article-content, .title-container { 
    padding: 0;
  }

  .title-container {
    flex-direction: row;
    padding-block: 3rem;
  }


  header {
    animation: fromTop 600ms 400ms backwards;
  }

  main, section {
    animation: fromBottom 800ms 600ms backwards;
  }

  @keyframes fromTop{
    from {
      transform: translateY(-100%);
    }
  }

  @keyframes fromBottom {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
  }